

<div class="row home-main-row">
  <div class="col-md-6 mt-4 pt-5 pl-5">
    <h3>Welcome</h3>
<br>
    <a [routerLink]="['register']"
       routerLinkActive="router-link-active"
       class="btn btn-info">Register<i class="fas fa-user-plus"></i></a>
<p> </p>
    <a [routerLink]="['login']"
       routerLinkActive="router-link-active"
       class="btn btn-info">Login<i class="fas fa-user-plus"></i></a>

    <p> </p>
    <a [routerLink]="['budgetlist']"
       routerLinkActive="router-link-active"
       class="btn btn-success">My budget list<i class="fas fa-user-plus"></i> </a>


    <a style="margin-left: 10px" [routerLink]="['createbudget']"
       routerLinkActive="router-link-active"
       class="btn btn-primary"> Create budget<i class="fas fa-user-plus"></i></a>


  </div>

</div>

