
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Register a new user</h3>
    <form #registerform="ngForm" (ngSubmit)="register()">
      <div class="form-group">
        <label for="registerUsername">Username</label>
        <input type="text"
               name="username"
               [(ngModel)]="username"
               required
               class="form-control"
               id="registerUsername"
               placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input type="password"
               name="password"
               [(ngModel)]="password"
               required
               class="form-control"
               id="registerPassword"
               placeholder="Password">
      </div>

      <button type="submit"
              [disabled]="registerform.invalid"
              class="btn btn-primary">Register <i class="fas fa-sign-in-alt"></i></button>
    </form>
  </div>
</div>
