
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Login</h3>
    <form #loginform="ngForm" (ngSubmit)="login()">
      <div class="form-group">
        <label for="loginUsername">Username</label>
        <input type="text"
               name="username"
               [(ngModel)]="username"
               required
               class="form-control"
               id="loginUsername"
               placeholder="Enter username">
      </div>
      <div class="form-group">
        <label for="loginPassword">Password</label>
        <input type="password"
               name="password"
               [(ngModel)]="password"
               required
               class="form-control"
               id="loginPassword"
               placeholder="Password">
      </div>

      <button type="submit"
              [disabled]="loginform.invalid"
              class="btn btn-primary">Login <i class="fas fa-sign-in-alt"></i></button>
    </form>
  </div>
</div>

<a [routerLink]="['']"
   routerLinkActive="router-link-active"
   class="btn btn-success">Back<i class="fas fa-user-plus"></i> </a>

