<h3 style="margin-top: 30px; text-align: center">Create Budget</h3>
<div style="width: 400px; position: relative; left: 28%">
  <form #budgetForm="ngForm" (ngSubmit)="onSubmit();  budgetForm.reset()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="budget.name" name="name">
    </div>

    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="number" class="form-control" id="amount" required [(ngModel)]="budget.amount" name="amount">
    </div>

    <div class="form-group">
      <label for="date_from">Date From</label>
      <input type="text" class="form-control" id="date_from" required [(ngModel)]="budget.date_from" name="date_from">
    </div>

    <div class="form-group">
      <label for="date_to">Date To</label>
      <input type="text" class="form-control" id="date_to" required [(ngModel)]="budget.date_to" name="date_to">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>



