<div class="bdetails" *ngIf="budget">

  <div class="merso">

    <button type="button" class="btn btn-primary" style="margin-top: 20px;"
            data-toggle="modal"
            data-target="#addBeneficiaryModal">Add beneficiary
    </button>
  </div>

  <h3>{{budget.name | uppercase}} Details</h3> <br>
  <div><span><h4>Budget name: </h4></span>
    <p class="pdetail">{{budget.name}}</p></div>
  <div><span><h4>Budget Amount: </h4></span>
    <p class="pdetail">{{budget.amount}} KM</p></div>
  <div><span><h4>Date from: </h4></span>
    <p class="pdetail">{{budget.date_from}}</p></div>
  <div><span><h4>Date to: </h4></span>
    <p class="pdetail">{{budget.date_to}}</p></div>

  <div><span><h4>Budget users: </h4></span>
    <div *ngFor="let budgets of budget.budget_users">
      <p class="pdetail"> {{ budgets.name }}</p>
    </div>

  </div>

  <!-- ADD BENEFICIARY TO THE BUDGET Modal-->
  <div class="modal fade" id="addBeneficiaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <!--HEADER-->
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add beneficiary</h5>
          <button class="close" id="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <!--BODY-->
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="userId">Beneficiary ID</label>
              <input type="number" class="form-control" id="userId" required [(ngModel)]="beneficiaryId" name="userId">
            </div>
          </form>
        </div>

        <!--FOOTER-->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="btn_podnesi_zahtjev" data-dismiss="modal"
                  (click)="onSubmitBeneficiary()">OK
          </button>
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
