<div class="bdetails" *ngIf="budget">

  <div class="merso">

    <a style="font-size: 20px; color: #f0f3f6; margin-top: 20px;"
       routerLink="/budget/{{budget.id}}/addbeneficiary" class="btn btn-primary">
      Add beneficiary</a>
  </div>

  <h3>{{budget.name | uppercase}} Details</h3> <br>
  <div><span><h4>Budget name: </h4></span>
    <p class="pdetail">{{budget.name}}</p></div>
  <div><span><h4>Budget Amount: </h4></span>
    <p class="pdetail">{{budget.amount}} KM</p></div>
  <div><span><h4>Date from: </h4></span>
    <p class="pdetail">{{budget.date_from}}</p></div>
  <div><span><h4>Date to: </h4></span>
    <p class="pdetail">{{budget.date_to}}</p></div>

  <div><span><h4>Budget users: </h4></span>
    <div *ngFor="let budgets of budget.budget_users">
      <p class="pdetail"> {{ budgets.name }}</p>
    </div>

  </div>


</div>


