<!--<div style="width: 500px; position: relative; left: 25%; top:50px" class="list-group">
  <h4 class="list-group-item list-group-item-action active">
    My Transactions
  </h4>
  <div *ngFor="let transaction of transactionList">
    <a style="font-size: 20px; font-weight: bold; color: #295b90;"
       routerLink="/transaction/{{transaction.id}}" class="list-group-item list-group-item-action">
      {{ transaction.amount }}<span class="desc">{{ transaction.description }}</span></a>
  </div>

</div>-->

<table class="table table-hover table-light">
  <thead>
  <tr>
    <th scope="col">-</th>
    <th scope="col">Amount</th>
    <th scope="col">Description</th>
    <th scope="col">Action</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactionList" class="home-main-row">
    <th scope="row">-</th>

    <td>{{ transaction.amount }}</td>

    <td>{{ transaction.description }}</td>

    <td><a class="btn btn-primary"
      routerLink="/transaction/{{transaction.id}}">Details</a></td>
  </tr>


  </tbody>
</table>
